<p-toast />
<p-confirmDialog />

<div class="app-container">
  @if (sidenavOpen()) {
    <aside class="app-sidenav">
      <div class="sidenav-header">
        <i class="pi pi-sparkles logo-icon"></i>
        <span class="logo-text">qbt-cleanup</span>
      </div>
      <nav class="nav-list">
        @for (item of navItems; track item.path) {
          <a class="nav-item"
             [routerLink]="item.path"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: item.path === '/' }">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        }
      </nav>
      <div class="sidenav-footer">
        @if (version()) {
          <span class="version-label">v{{ version() }}</span>
        }
      </div>
    </aside>
  }

  <div class="app-content">
    <p-toolbar styleClass="app-toolbar">
      <ng-template #start>
        <p-button [text]="true" [rounded]="true" icon="pi pi-bars" (onClick)="toggleSidenav()" />
        <span class="toolbar-title">qbt-cleanup</span>
      </ng-template>
      <ng-template #end>
        @if (version()) {
          <span class="toolbar-version">v{{ version() }}</span>
        }
      </ng-template>
    </p-toolbar>
    <div class="content-area">
      <router-outlet />
    </div>
  </div>
</div>
